.vscode/**/*
.gitignore
.vscodeignore
.github/**/*
.travis.yml
appveyor.yml
tsconfig.json
**/*.tests.*
tests/**
src/**
out/tests/**/*
**/*.js.map
data/listings/**/*
coverage/**/*
design/**/*
logs/**/*
notes.md
**/*.xcf
documentation/extras
documentation/images/ReverseEngineeringUsage
*.vsix
releases/
